h1,h2,h3,h4,h5 {
    color: #5f6468;
}
.menu h1{
    font-weight: 400;
}

.panel {
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    .panel {
        margin-bottom: 40px;
    }
}

/* customer */
.master-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.form-group label {
    font-weight: bold;
}